* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  font-size: 20px;
  font-family: "Suisse Intl";
  font-weight: 400;
  color: #727272;
  line-height: 1.5;
  background-color: #000000;
}

input:focus-visible,
select:focus {
  outline: unset;
  box-shadow: unset;
}

button {
  border: unset;
  background-color: transparent;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark a,
.dark .dark li {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
  color: #242021;
  margin: 0;
}

h1 {
  font-size: 97px;
}

h2 {
  font-size: 67px;
}

h3 {
  font-size: 57px;
}

h4 {
  font-size: 46px;
}

h5 {
  font-size: 37px;
}

h6 {
  font-size: 27px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.radius-30 {
  border-radius: 30px;
}

.hdng-span span {
  color: #2d5390;
}

.cta {
  font-size: 18px;
  padding: 18px 40px;
  border-radius: 100px;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.cta {
  box-shadow: 0 0 0 rgba(45, 83, 144, 0);
}

.cta:hover {
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.25),
    0 0 12px rgba(45, 83, 144, 0.4);
}

.cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;

  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);

  transform: skewX(-20deg);
  transition: all 0.6s ease;
}

.cta:hover::after {
  left: 130%;
}

.cta::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 300%;
  top: 100%;
  left: -15%;
  background: linear-gradient(120deg, #4f7edc, #2d5390, #000000);
  border-radius: 45%;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: -1;
}

.cta:hover::before {
  transform: translateY(-65%) rotate(10deg);
}

.cta:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.cta:active {
  transform: translateY(-1px) scale(0.98);
}

@keyframes ctaGlow {
  0% {
    box-shadow: 0 0 0 rgba(45, 83, 144, 0);
  }

  50% {
    box-shadow: 0 0 10px rgba(45, 83, 144, 0.2);
  }

  100% {
    box-shadow: 0 0 0 rgba(45, 83, 144, 0);
  }
}

.cta {
  animation: ctaGlow 3s infinite;
}

.cta-blue {
  background-color: #2d5390;
}

.cta.cta-blue::before {
  background: #000000;
}

.cta-trans {
  background-color: #ffffff09;
}

.cta-hdr {
  font-size: 14px;
  background-color: #fff;
  border-radius: 7px;
  color: #444444;
  padding: 12px 25px;
}

.sec-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pos-rev {
  position: relative;
}

.ovr-hdn {
  overflow: hidden;
}

/* loader  */
.loader {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
}

.upper-div,
.lower-div {
  height: 50vh;
  background-color: #0000001c;
  position: relative;
}

/* hedaer */
.fixed-part {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 25px;
  z-index: 2;
  background-color: #ffffff03;
  backdrop-filter: blur(34px);
  border-radius: 12px;
  max-width: 1000px;
  margin: auto;
}

.relative-part {
  position: relative;
  margin-top: 100vh;
  height: fit-content;
  background-color: #fff;
  background-position:
    0 0,
    0 0;
  background-size: auto, auto;
  z-index: 3;
}

.hdr-btn {
  display: flex;
  align-items: center;
}

.navbar-nav {
  width: calc(100% - 150px);
  justify-content: center;
  gap: 30px;
}

.main-header .nav-link {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
}

.home-bnnr {
  padding-top: 280px;
  padding-bottom: 100px;
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center top;
}

.badge-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home-bnnr .cta {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.home-bnnr .cta:hover {
  border: 1px solid transparent;
}

.bnr-curvel {
  position: absolute;
}

.bnr-curve {
  position: absolute;
  bottom: 0;
}

.crv-l1 {
  bottom: 0;
  left: 0;
}

.crv-l2 {
  bottom: 0;
  right: 0;
}

.crv-l3 {
  top: 0;
  left: 0;
}

.crv-l4 {
  top: 0;
  right: 0;
}

.crv1 {
  left: 0;
}

.crv2 {
  right: 0;
}

.crv3,
.crv4 {
  bottom: unset;
  top: 0;
  z-index: 1;
}

.scroll-btm img {
  animation: arrowBounce 1.5s infinite;
  margin-left: 8px;
}

.scroll-btm a {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }

  50% {
    transform: translateY(8px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}

.heading-wrap {
  max-width: 1300px;
  margin: auto;
}

.moving-inner {
  align-items: center;
  gap: 180px;
}

.moving-inner>div {
  flex: 1;
}

.numbers-sec h1 span {
  color: #2d53904d;
}

.roling-svg {
  position: absolute;
  top: 40px;
  left: 0;
  will-change: transform;
}

.moving-svg-sec,
.studio-sec,
.pool-sec {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.studio-inner h1 {
  font-size: 127px;
}

.move-txt h5 {
  font-weight: 500;
  color: #999;
  transition: none;
}

.num-row {
  gap: 30px;
  justify-content: center;
  color: #242021;
  font-size: 18px;
  border-bottom: 1px solid #24202117;
}

.num-row p {
  text-transform: uppercase;
}

.count-wrap h1 {
  font-size: 80px;
}

.studio-sec::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%,
      rgba(16, 23, 23, 0) 56.73%,
      #101717 100%);
  pointer-events: none;
}

/* pool- main section css */
.pool-hd {
  align-items: center;
  margin: 40px 0;
}

.pool-main {
  text-align: center;
}

.pool-main img,
.pool-parts img {
  height: 90vh;
  object-fit: contain;
}

.pool-main img {
  height: 100vh;
}

.pool-parts img {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pool-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-headings {
  width: 30%;
  height: 100vh;
}

.pool-main {
  width: 40%;
}

.pool-decp {
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: end;
  padding-bottom: 150px;
  position: relative;
}

.pool-bx {
  position: absolute;
  left: 100px;
  bottom: 100px;
  color: inherit;
  pointer-events: none;
}

.pool-list a {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.pool-item1 {
  top: 20dvh;
}

.pool-item2 {
  top: 35dvh;
}

.pool-item3 {
  top: 45dvh;
}

.pool-item4 {
  top: 70dvh;
}

.pool-list a p {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  margin-right: 10px;
  color: #242021;
}

.dot {
  display: block;
  height: 10px;
  width: 10px;
  background-color: #242021;
  border-radius: 100%;
}

.pool-bx h4 {
  margin-top: 15px;
}

.pool-main {
  perspective: 1200px;
}

.pool-main img {
  transform-style: preserve-3d;
  will-change: transform;
}

.line {
  background-color: #242021;
  height: 1px;
  width: 100px;
  transform-origin: left;
  transition: 0.2s;
}

/* new section css
 */
.cust-hd {
  margin-top: 40px;
  margin-bottom: 30px;
}

.cust-row {
  gap: 50px;
  align-items: center;
}

.cust-row>div {
  flex: 1;
}

.customize-studio {
  height: 100dvh;
  background-position: center;
}

.cust-left,
.cust-right {
  position: relative;
  height: 70dvh;
}

.cust-box,
.cust-box-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(80px) scale(0.95);
}

.cust-box {
  top: 50%;
  transform: translateY(-50%);
}

.cust-box.active,
.cust-box-desc.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 2;
}

.customize-studio.active.pt-120 {
  padding-top: 20px !important;
}

.pool-main {
  position: relative;
}

.piece {
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
}

.pool-img img {
  width: 100%;
}

.pool-slide .pool-cntnt {
  display: none;
}

.pool-slide .pool-cntnt {
  display: none;
}

.pool-slide.slick-current .pool-cntnt {
  display: block;
}

.pool-slide.slick-current img {
  transform: scale(1.1);
  transition: 0.3s;
}

.pool-img {
  position: relative;
}

.pool-img .img-txt {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  left: 30px;
}

.white-after::after {
  position: absolute;
  content: "";
  height: 130%;
  width: 100%;
  left: -100%;
  background-color: #fff;
  top: -80px;
}

.slick-track {
  display: flex;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list.draggable {
  overflow: visible;
}

.flowing-svg {
  position: absolute;
  right: -100px;
  top: -200px;
  z-index: -1;
}

/* slider css main */

.pool-img {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.pool-img img {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}

.img-txt {
  font-size: 36px;
  position: absolute;
  bottom: 26px;
  left: 25px;
  color: #fff;
}

.pool-cntnt {
  margin-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.pool-cntnt h5 {
  font-weight: 500;
  margin-bottom: 10px;
}

.pool-cntnt p span {
  color: #2d5390;
  font-weight: 600;
}

.pool-cntnt p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.pool-slider-wrap {
  margin-top: 60px;
}

/* ===== ACTIVE (CENTER) SLIDE ===== */
.pool-slide {
  transition: all 0.4s ease;
  transform: scale(0.9);
}

.pool-slide.slick-current .img-txt {
  opacity: 0;
}

.pool-slide.slick-current {
  transform: scale(1) translateY(-10px);
  opacity: 1;
}

.pool-slide.slick-current .pool-img img {
  transform: scale(1.1);
}

.pool-slide.slick-current .pool-cntnt {
  opacity: 1;
  transform: translateY(0);
}

.pool-slide.slick-active {
  pointer-events: auto;
}

.pool-slider {
  cursor: none;
}

.drag-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pool-slider:hover .drag-cursor {
  opacity: 1;
}

.modern-inner h3 {
  position: absolute;
  bottom: 100px;
  right: 100px;
  color: #fff;
  max-width: 700px;
  display: block;
}

.modern-bg {
  object-fit: cover;
  width: 100%;
  height: 100dvh;
}

.modern-design {
  height: 100dvh;
}

/*  hover glow naimation   */
.logo-row {
  display: flex;
  gap: 1px;
  justify-content: center;
}

.log-col {
  flex: 1;
  background-color: #fff;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.row-mid .log-col:not(:first-child):not(:last-child)::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 70% 70%,
      rgba(45, 83, 144, 0.5) 0%,
      rgba(45, 83, 144, 0.12) 50%,
      rgba(45, 83, 144, 0.04) 75%,
      transparent 100%);
  bottom: 0;
  right: 0;
  opacity: 0;
}

.row-mid .log-col:not(:first-child):not(:last-child):hover::before {
  opacity: 0.3;
}

.row-top .log-col,
.row-btm .log-col {
  height: 100px;
}

.logo-wrap {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.03) 100%);
  gap: 2px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bg-glow {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle at center, #2d539085 0%, rgba(45, 83, 144, 0.15) 70%, transparent 100%);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-mid .log-col::after,
.row-btm .log-col::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../images/plus.svg") no-repeat center;
  background-size: contain;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0.7;
  animation: plusPulse 2s ease-in-out infinite;
}

.logo-row:first-child .log-col::after,
.logo-row .log-col:first-child::after {
  display: none;
}

@keyframes plusPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

/* simple svg animation path */
.svg-curve1 svg {
  width: 800px;
  height: auto;
}

/* Base faint path */
.base-path {
  stroke: #052424;
  stroke-opacity: 0.1;
  stroke-width: 1.5;
  fill: none;
}

/* Moving glowing streak */
.flow-line {
  stroke: url(#flowGradient);
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 30 500;
  stroke-dashoffset: 0;
  animation: flow 6s linear infinite;
  filter: url(#blueGlow);
}

@keyframes flow {
  to {
    stroke-dashoffset: -580;
  }
}

.log-hd h3 {
  max-width: 790px;
  margin: auto;
  font-weight: 400;
}

/* ready sec */
.svg-move {
  position: absolute;
}

.svg-curve1 {
  top: 0;
  left: 0;
}

.svg-curve2 {
  top: 0;
  right: 0;
}

.svg-curve3 {
  bottom: 0;
  left: 0;
}

.svg-curve4 {
  bottom: 0;
  right: 0;
}

.ready {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ready-inner {
  max-width: 580px;
  margin: auto;
}

.ready-inner h1 {
  font-weight: 400;
}

.faq-inner>h2 {
  text-align: center;
  max-width: 680px;
  margin: auto;
  font-weight: 500;
  font-size: 77px;
  margin-bottom: 40px;
}

.faq-inner .accordion-button:not(.collapsed) {
  color: #242d34;
  background-color: unset;
  box-shadow: unset;
}

.faq-inner .accordion-item {
  border: 1px solid #2420210f !important;
  border-radius: 10px;
  margin-bottom: 20px;
}

.faq-inner .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

.faq-inner .accordion-button {
  font-size: 26px;
  font-weight: 600;
  padding: 40px 30px;
}

.faq-inner .accordion-body {
  padding: 40px 30px;
  padding-top: 0;
}

.faq-inner .accordion-button:not(.collapsed) {
  padding-bottom: 20px;
}

.faq-inner .accordion-button:not(.collapsed)::after,
.faq-inner .accordion-button::after {
  background-image: url("../images/faq-arrw.png");
}

.ready-click {
  font-size: 18px;
  text-transform: uppercase;
  color: #242021;
  text-decoration: underline;
}

.faq-inner {
  max-width: 1000px;
  margin: auto;
}

footer {
  background-color: #101717;
  padding: 100px 0;
  padding-top: 200px;
}

.footlist {
  padding: 0;
}

.footlist li {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.foot-col h6 {
  font-weight: 400;
}

.foot-logo p {
  font-size: 18px;
  margin-top: 80px;
}

.svg-curve5 {
  left: 0;
  bottom: 0;
}

.svg-curve6 {
  right: 0;
  bottom: 0;
}

.foot-row {
  position: relative;
  z-index: 1;
}

.footer-curv {
  position: absolute;
  top: -1px;
  left: 0%;
}

.footer-curv {

  animation: slideLR 13s ease-in infinite alternate-reverse;
}

@keyframes slideLR {
  0% {
    transform: translateX(-70vw);
  }

  100% {
    transform: translateX(70vw);
    /* move right */
  }
}

.cust-top {
  gap: 10px;
}

.cust-desc {
  padding-left: 34px;
  margin-top: 13px;
  max-width: 500px;
}

.cust-top p {
  margin-top: 5px;
}

.pool7 {
  position: absolute;
  bottom: -300px;
  left: 0;
}

.pool-img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000033;
  top: 0;
}

.pool-slide.slick-current .pool-img::after {
  display: none;
}

.footlist a:hover {
  color: #2d5390;
}

.for-mob {
  display: none;
}

.pool8 {
  z-index: -1;
}

.text-animation h3 .char {
  color: rgba(36, 32, 33, 0.2);
  /* faded base */
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: none;
}

.text-animation h3 .highlight .char {
  color: rgba(45, 83, 144, 0.2);
}

/*  new css */
.hero {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-bg img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  transform: scale(1.1);
  will-change: transform;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 2;
}

.bnnr-inner {
  position: relative;
  z-index: 3;
}

.home-bnnr img.bnr-curve {
  z-index: 9;
}


/* DEFAULT (inside hero) */
/* default (visible on load) */
.main-header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  z-index: 100;

  background-color: #ffffff03;
  backdrop-filter: blur(34px);
  border-radius: 12px;

  transition: all 0.4s ease;
}

/* hidden while scrolling hero */
.main-header.hide {
  opacity: 0;
  transform: translateY(-50px);
}

/* after hero (fixed header) */
.main-header.fixed {
  position: fixed;
  top: 15px;

  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(16px);
  max-width: 900px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.glow-text .char {
  opacity: 0;
  color: #000000;
  display: inline-block;
  transition: all 0.2s ease;
}

/* glowing letter */
.glow-text .char.active {
  opacity: 1;
  color: #2D5390;

  text-shadow:
    0 0 6px rgba(45, 83, 144, 0.6),
    0 0 12px rgba(45, 83, 144, 0.3);

  transform: translateY(-2px);
}

/* revealed after glow */
.glow-text .char.revealed {
  opacity: 1;
  color: #000000;
  text-shadow: none;
  transform: translateY(0);
}

.glow-text span.word.active {
  animation: glowFlicker 0.3s ease;
}

@keyframes glowFlicker {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.glow-text {
  filter: blur(0.3px);
}

.glow-text .char {
  transition: all 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

.glow-text .word {
  margin-right: 6px;
  display: inline-block;
  white-space: nowrap;
  /* 🔥 prevents breaking inside word */
}

.glow-text .char {
  display: inline-block;
}

.glow-text .char.is-blue.revealed {
  color: #2D5390;
  transform: translateY(-1px);
}

.glow-text span.word:empty {
  display: none;
}


.move-txt .word {
  display: inline-block;
  color: rgba(36, 32, 33, 0.4);
  transition: color 0.15s ease;
}

/* ⚡ spark flash */
.move-txt .word.glow {
  color: #2D5390;

  text-shadow:
    0 0 6px rgba(45, 83, 144, 0.9),
    0 0 14px rgba(45, 83, 144, 0.7),
    0 0 22px rgba(45, 83, 144, 0.5);

  transform: translateY(-1px);
}

/* ✅ final state */
.move-txt .word.filled {
  color: #000;
  text-shadow: none;
  transform: translateY(0);
}



.moving-img {
  overflow: hidden;
  height: 100%;
  border-radius: 30px;
  position: relative;
}

.moving-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;

}

.max-767 {
  display: none !important;
}

.navbar-toggler:focus {
  box-shadow: unset;
}